@import "./variables", "./reset";

body {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--light-solid);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  background: var(--dark-solid);
}
