<div class="profile-card">
  <div class="profile-card-inner">
    <div class="profile-card-name-wrapper">
      <img
        class="profile-card-avatar"
        src="/assets/images/avatar.svg"
        alt="avatar"
      />
      <div class="profile-card-name-info-wrapper">
        <div class="profile-card-name">Райан Гослинг</div>
        <div class="profile-card-nickname">ryan.gosling</div>
      </div>
    </div>
    <div class="profile-card-description-wrapper">
      <p class="profile-card-description">
        Список навыков, который мы обсудили выше, — основа резюме,
        но не единственная его часть. Также можно рассказать о себе
        в классическом смысле — этот раздел можно добавить в сопроводительное
        письмо.
      </p>
    </div>
    <ul class="profile-card-tags-list">
      <li class="profile-card-tag-item">
        <button class="profile-card-tag-button" type="button">JS</button>
      </li>
      <li class="profile-card-tag-item">
        <button class="profile-card-tag-button" type="button">CSS</button>
      </li>
      <li class="profile-card-tag-item">
        <button class="profile-card-tag-button" type="button">HTML</button>
      </li>
      <li class="profile-card-tag-item">
        <button class="profile-card-tag-button" type="button">Angular</button>
      </li>
      <li class="profile-card-tag-item">
        <button class="profile-card-tag-button" type="button">Frontend</button>
      </li>
    </ul>
    <div class="profile-card-user-info-wrapper">
      <button class="profile-card-user-info-followed" type="button">
        <svg
          width="13"
          height="12"
          viewBox="0 0 13 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M8.3125 11.6562L6 9.34375L6.9375 8.40625L8.3125 9.78125L11.7188 6.34375L12.6562 7.28125L8.3125 11.6562ZM7.21875 5.21875C6.69792 5.73958 6.07292 6 5.34375 6C4.61458 6 3.97917 5.73958 3.4375 5.21875C2.91667 4.69792 2.65625 4.07292 2.65625 3.34375C2.65625 2.61458 2.91667 1.98958 3.4375 1.46875C3.97917 0.927083 4.61458 0.65625 5.34375 0.65625C6.07292 0.65625 6.69792 0.927083 7.21875 1.46875C7.73958 1.98958 8 2.61458 8 3.34375C8 4.07292 7.73958 4.69792 7.21875 5.21875ZM4 9.34375L6 11.3438H0V10C0 9.20833 0.604167 8.57292 1.8125 8.09375C3.04167 7.59375 4.21875 7.34375 5.34375 7.34375C5.65625 7.34375 5.875 7.35417 6 7.375L4 9.34375Z"
            fill="#AE7AFF"
          />
        </svg>
      </button>
      <button class="profile-card-user-info-write" type="button">
        Написать
        <svg
          width="15"
          height="12"
          viewBox="0 0 15 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.34375 12V7.34375L10.3438 6L0.34375 4.65625V0L14.3438 6L0.34375 12Z"
            fill="black"
          />
        </svg>
      </button>
      <button class="profile-card-user-info-profile" type="button">
        <svg
          width="11"
          height="11"
          viewBox="0 0 11 11"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M4 0.34375H10.6562V7H9.34375V2.59375L1.59375 10.3438L0.65625 9.40625L8.40625 1.65625H4V0.34375Z"
            fill="black"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
